*
{
    box-sizing: border-box;
}

.grid_wrapper
{
    background-color: #34547a;
    text-align: center;
}

.flex-wrapper-blue
{
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 15%;
}


.flex-container_lvl1
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-wrapper-blue>.flex-container_lvl1:first-child
{
    padding-left: 42px;
}

.flex-item-lvl1
{
    padding-left:20%;
    font-family: "Roboto";
    line-height: 25px;
    font-size: 1em;
    color: white;
}