* {
  box-sizing: border-box;
}

:root {
  --font-family: "Roboto", sans-serif;
  --font-weight: 500;
  --font-size: 16px;
  --header-height: 700px;
  --theme-blue-color: #34547a;
  background-color: #ffffff;
}

.header-block {
  background-color: #eeeff1;
  font-family: var(--font-family);
  font-size: var(--font-size);
  height: var(--header-height);
}

.custom-border {
  border: solid red 1px;
}

.logo {
  margin: 10% 40% 30%;
}

.header-nav-ul {
  padding: 5% 5%;
}

.header-nav-ul-link {
  text-decoration: none;
  color: rgb(43, 42, 42);
}

.header-nav-ul > .header-nav-ul-item:first-child > .header-nav-ul-link {
  color: #34547a;
}

.nout {
  padding-left: 35%;
}

.page-h1 {
  font-size: 3em;
}

.header-text,
.container-2-article-wrapper-paragraph {
  font-size: 1em;
  margin-top: 5%;
  font-weight: 400;
  font-style: normal;
  font-family: "Roboto";
  width: 540px;
  color: #727272;
  line-height: 26px;
}

.header-button {
  text-decoration: none;
  text-transform: uppercase;
  color: whitesmoke;
  background-color: var(--theme-blue-color);
  padding: 20px 55px;
}

.button-wrapper {
  padding-top: 10%;
}

.container-2-article-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-2-article-wrapper-h3 {
  margin-top: 7%;
  font-weight: 500;
  font-size: 2em;
  font-family: "Roboto";
}

.container-2-article-wrapper-paragraph {
  width: 540px;
  margin-top: 3%;
  text-align: center;
  margin-bottom: 7%;
}



.container-3
{
    margin:5% auto;
   
    overflow: hidden;
}

.avatar-wrapper
{
  
    width: 340px;
    height: 350px;
    max-height:450px;
    max-width:555px;
   

    background-image: url(../../images/avatar.png);
    background-position: center;
    background-size: cover;
}

.skils-wraper
{
  
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: stretch;
  margin-top: 5%;
  font-family:"Roboto";
  font-size: 1em;
  margin-bottom: 3%;
  color: #727272;
  font-weight: 400;
  padding: 5% 20%;
}

.rectangle-grey
{
  margin: 3% 0;
  flex-basis: 100%;
  height: 4px;
  background: #C4C4C4;
  
}

.rectangle-blue
{
  
  width: 80%;
  height: 4px;
  background: #34547A;
 
}

.skils-wraper>h3{
  font-size: 2em;
  color: black;
  font-weight: 500;
  margin-bottom: 4%;
}

.container-4-article-wrapper
{
  background-color: #EEEFF1;
}

.flex-container-projects
{
    margin-top: 2%;
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center ;
    margin-bottom: 3%;
}

.video-padding
{
  padding-bottom: 8%;
}

.odd
{
  height: 50%;
  width: 25%;
  background-image: url(../../images/Screenshot_20220124_195622.png);
}

.even
{
  height: 50%;
  width: 25%;
  background-image: url(../../images//Screenshot_20220124_195645.png);
}

.ayse
{
  background-image: url(../../images/ayse.png);
  width: 100%;
  height: 100%;
  background-color: burlywood;
  background-position: center;
  background-size: cover;
}

.microsoft-container
{
  margin-top: 10%;
  margin-bottom:10%;
  display: flex;
  justify-content: space-around;
}

.microsoft-item
{
  max-width: 15%;
  max-height: 40%;
}

.my-5
{
  background-color: #EEEFF1;
}

.client-form
{
  padding-bottom: 5%;
}

.form-part-1
{
  display:flex;
  
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 5%;
}

.form-part-1-item
{
  padding: 20px 15px;
}

.buttonSubmit
{
  margin:5% 30%;
  padding: 15px 50px;
  background-color: #34547A;
  color: whitesmoke;
  font-family: inherit;
  
}

#story2
{
  display:none;
}

.page-footer
{
  background-color: #EEEFF1;
}

.footer-section
{
  background-color: #34547A;
  color: whitesmoke;
  font-family: inherit;
  width: 100%;
  height: 20vh;
  text-align: center;
}

.footer-container
{
  width: 80%;
  height: 100%;
  margin-left:10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#second-my-5
{
  margin-bottom: 0px;
  background-color: #EEEFF1;
}

.wk-img
{
  width: 5vw;
  height: 9vh;
}

.flex-c-1
{
  display: flex;
  flex-direction: column;
  font-family: inherit;
  align-items: flex-start;
  justify-content: flex-start;
  
}

.flex-c-1>h2{
  font-weight: 500;
  font-size: 1.5em;
}
@media screen and (max-width: 576px) {
  .nout {
    padding: 0px;
  }
  .header-text {
    padding: 0px;
  }
  .page-h1 {
    padding: 0px;
  }
  .header-text {
    max-width: 280px;
  }
  .logo {
    margin-bottom: 0px;
  }
  .container-2-article-wrapper-paragraph {
    width: 100%;
  }
  .header-text {
    text-align: center;
  }
  .button-wrapper
  {
      text-align: center;
  }
  .page-h1
  {
      text-align: center;
      margin-top: 5%;
  }
  .form-part-1
  {
    display: block;
    text-align: center;
  }
  #story
  {
    margin-left:25% ;
    display: none;
  }
  #story2
  {
    display: block;
  }
  .buttonSubmit
  {
    margin:5% 12%;
  }
  .flex-c-1
  {
    font-size: 0.5em;
  }
  .header-nav-ul-link
  {
    font-size: 0.5em;
  }
}


@media screen and (max-width: 768px) {
  .header-text {
    max-width: 280px;
  }
  .nout {
    padding: 0px;
  }
  .header-text {
    padding-left: 0px;
  }
  .page-h1 {
    padding-left: 0px;
  }
  .logo {
    margin-bottom: 0px;
  }
}

@media screen and (max-width: 992px) {
  .header-text {
    max-width: 280px;
  }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .page-h1 {
    padding-left: 25%;
  }
  .header-text {
    padding-left: 25%;
  }
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
  .header-text {
    width: 540px;
  }

}

@media screen and (max-width: 1200px) 
{
  .header-nav-ul-link
  {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 980px) 
{
  .header-nav-ul-link
  {
    font-size: 0.5em;
  }
}

@media screen and (max-width: 1200px) 
{
  .header-text
  {
    padding-right:5%;
  }
}